.mein {
    position: relative;
    width: 1440px;
    height: 900px;
    background: #FFFFFF;
    box-shadow: 0px 20px 100px rgba(8, 24, 81, 0.25);
    border-radius: 10px;
}
.logo_img {
    position: absolute;
    width: 201px;
    height: 40px;
    left: 76px;
    top: 90px;
}
.button_cart {
    position: absolute;
    width: 115px;
    height: 38px;
    left: 1251px;
    top: 89px;
}
.item-main {
    font-style: normal;
    color: #000000;
}
.item-mein__title {
    position: absolute;
    width: 542px;
    height: 216px;
    left: 126px;
    top: 206px;
    font-family: 'Intro ';
    font-weight: 400;
    font-size: 60px;
    line-height: 120%;
}
.item-mein__text {
    position: absolute;
    width: 487px;
    height: 96px;
    left: 126px;
    top: 432px;
    font-family: 'Roboto Slab';
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
}
.button-buy {
    position: absolute;
    width: 270px;
    height: 84px;
    left: 116px;
    top: 558px;
}
.item-mein__link {
    position: absolute;
    height: 32px;
    top: 788px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 160%;
    color: #5222D0;
}
.link_capacity {
    width: 139px;
    left: 126px;  
}
.link_bay {
    width: 111px;
    left: 299px;
}
.link_deliv {
    width: 95px;
    left: 444px;
}
.link_help {
    width: 85px;
    left: 573px;
}
.picture_pic {
    position: absolute;
    width: 1096.34px;
    height: 724.31px;
    left: 657px;
    top: 128.11px;
}
.picture_boy {
    position: absolute;
    left: 49.4%;
    right: 11.5%;
    top: 17.79%;
    bottom: 5.29%;
}
.picture_back {
    position: absolute;
    left: 45.62%;
    right: -21.76%;
    top: 14.23%;
    bottom: 11.69%;
}